.user-profile {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #383737;

}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-avatar {
  width: 70x;
  height: 70px;
  border-radius: 50%;
}

.user-name {
  color: white;
  font-size: 0.9rem;
}

.sign-out-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign-out-btn:hover {
  background: rgba(255, 255, 255, 0.3);
} 

.user-profile .avatar {
    margin-right: 1rem;
}

@media screen  and (max-width: 900px) {
    .user-profile {
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        gap: 0.1rem;
        padding: 0.1rem;
    }

    .user-avatar {
        width: 50px;
        height: 50px;
    }  


    .user-name {
        color: white;
        font-size: 0.7rem;
      }

      .sign-out-btn {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.2);
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 0.7rem;
      }
}

@media screen  and (max-width: 500px) {
    .user-profile {
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        gap: 0.1rem;
        padding: 0.1rem;
    }

    .user-avatar {
        width: 30px;
        height: 30px;
    }   

    .user-name {
        color: white;
        font-size: 0.7rem;
      }

      .sign-out-btn {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.2);
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 0.7rem;
      }
}